@import "./mixins.scss";

.login-form-container {
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 84vh;
  }

  form {
    width: 33vw;
    
    .title {
      font-size: 2em;
    }

    .login-label {
      font-size: 1.2em;
    }

    @include input-element();
    .login-input {
      color: white;
      text-shadow: 0px 0px 5px black;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
